<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AVEKSHA</title>
        <link rel="stylesheet" href="/css/landing.css">
        <link rel="stylesheet" href="/css/landingQuery.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul>
                    <li>About AVEKSHA</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="wrap">
                <h1>>Empowering <br><span></span></h1>
                <h3>Wo Badhengi,Desh Badhega!</h3>
                <% if( isLoggedin == 0 ) {%>
                <div class="btns">
                    <div class="loginbtn">Login</div>
                    <div class="registerbtn">Sign Up</div>
                </div>
                <% } %>
            </div>
        </div>
    
        <script src="/Js/landing.js"></script>
        <% if( isLoggedin == 0 ) {%>
        <script src="/Js/landingbtns.js"></script>
        <% } %>
        
    </body>
</html>